/*--- GENERAL STYLES ---*/

html {
    font-size: 18px;
}

body {
    font-family: Helvetica;
    color: white;
}


/*--- CONTAINERS ---*/

.container {
    width: 960px;
    margin: auto;
}

.flex {
    display: flex;
}



/*--- HEADER ---*/

header {
    background-color: black;
    padding: 0.66rem;

}

.logo {
    align-items: center;
    justify-content: flex-start;
}

.logo-img {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

header p {
    font-size: 1rem;
}



/*--- CONTENT ---*/

#main-banner {
    background-image: url(../images/moto.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25rem;
    text-transform: uppercase;
    padding-top: 9rem;
}

.banner {
    background-color: black;
    width: 20rem;
    padding: 2rem;
    padding-left: 3rem;
}

.banner span {
    font-size: 1rem;
    font-weight: bold;
}

.banner h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0.25rem;
}

/*--- NAVIGATION BAR ---*/

.menu {
    background-color: firebrick;
    padding: 0.75rem;
}

nav {
    justify-content: space-between;
}

nav span {
    font-weight: bold;
}

.devices {
    visibility: hidden;
    display: none;
    font-family: Helvetica;
}



/*--- PRODUCT GRID ---*/

.product-grid {
    padding-top: 3rem;
    justify-content: space-between;
}

.product {
    border: 4px solid black;
    width: 30%;
    text-align: center;
}

.image {
    height: 9rem;
    width: auto;
    overflow: hidden;
    padding: 2rem 0;
}

.product h3 {
    background-color: black;
    padding: 0.5rem;
    
}

.glasses {
    width: auto;
}

/*--- CONTACT ---*/

.contact {
   justify-content: space-between;
    padding-top: 3rem;
}

.black {
    background-color: black;
    padding: 1rem;
    padding-left: 2rem;
}

.contact p {
    color: black;
}

.location,
.hour {
    width: 35%;
}

.location p,
.hour p {
    padding-top: 0.15rem;
    padding-bottom: 4rem;
}


/*--- FOOTER ---*/

footer {
    background-color: black;
    height: 5rem;
    text-align: left;
    align-content: center;
}


/*--- MEDIA QUERIES ---*/

    /*------ Tablet Size ------*/

@media only screen and (max-width: 1024px) {
        
    /*--- banner ---*/
    
    .banner span {
        font-size: 0.9rem;
    }
    
    .banner h1 {
        font-size: 1rem;
    }
        
    
    /*--- navigation bar ---*/
    
    .devices {
        visibility: visible;
        display: flex;
        font-family: Helvetica;
        font-weight: bold;
    }
            
    .menu span {
        visibility: hidden;
        display: none;
    }
    
    nav {
        justify-content: center;
    }
    
    
    /*--- product grid ---*/
    
    .product {
        width: 47%;
    }
    
    
    .glasses {
        visibility: hidden;
        display: none;
    }
    
}

    /*------ MOBILE SIZE ------*/

@media only screen and (max-width: 470px) {
    

    /*--- container ---*/
    
    .container {
        width: 100%;
        margin: auto;
        justify-content: center;
    }
    
    /*--- logo ---*/
    
    header p {
        visibility: hidden;
        display: none;
    }
    
    .logo {
        justify-content: center;
    }
    
    
    /*--- banner ---*/
    
    .banner span {
        font-size: 0.77rem;
        font-weight: bold;
    }
    
    .banner h1 {
        font-size: 1rem;
        font-weight: bold;
    }
    
    .banner {
        width: auto;
        padding-top: 1rem;
        padding-left: 2rem;
        margin-top: 10rem;
    }
    
    #main-banner {
        height: 15rem;
    }
        
    
    /*--- navigation bar ---*/
    
    .devices {
        visibility: visible;
        display: flex;
        font-family: Helvetica;
        font-weight: bold;
    }
            
    .menu span {
        visibility: hidden;
        display: none;
    }
    
    nav {
        justify-content: center;
    }
    
    
    /*--- product grid ---*/
    
    .product-grid {
        margin: auto;
    }
    
    .product {
        width: 90%;
        justify-content: center;
    }
    
    
    .glasses,
    .watch {
        visibility: hidden;
        display: none;
    }
    
    /*--- contact ---*/
    
    .contact {
        flex-wrap: wrap;
    }
    
    .location,
    .hour {
        width: 90%;
    }
    
    /*--- footer ---*/
    
    footer {
        text-align: center;
    }
}






